<!--
    Copyright 2018,2019 Austin Haigh

    This file is part of MCIGN.

    MCIGN is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    MCIGN is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with MCIGN.  If not, see <https://www.gnu.org/licenses/>.

-->


<ion-header>
  <ion-toolbar>
    <ion-title>Register Key</ion-title>
  </ion-toolbar>
</ion-header>
<ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

<ion-content>
  <form #form="ngForm">
    <ion-item>
      <ion-label position="stacked">Key Name</ion-label>
      <ion-input ngModel name="name" required ></ion-input>
    </ion-item>
    <ion-button (click)="register('f', form)" expand="block">Register Full Key</ion-button>
    <ion-button (click)="register('l', form)" expand="block">Register Limited Key</ion-button>
  </form>

  <div *ngIf="qrstring.length !== 0">
    <ngx-qrcode 
      qrc-element-type="canvas" 
      [qrc-value] = "[qrstring]"
      qrc-width = 500
      qrc-height = 500>
    </ngx-qrcode>
    <p>Your key has been generated. Scan this QR code with the MCIGN app on another phone to import the key. This QR code will not be shown again.</p>
  </div>
</ion-content>
