<!--
    Copyright 2018,2019 Austin Haigh

    This file is part of MCIGN.

    MCIGN is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    MCIGN is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with MCIGN.  If not, see <https://www.gnu.org/licenses/>.

-->


<ion-header>
  <ion-toolbar>
    <ion-title>Configure Bike</ion-title>
  </ion-toolbar>
</ion-header>
<ion-progress-bar *ngIf="connecting" type="indeterminate">Connecting...</ion-progress-bar>

<ion-content>
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <ion-item>
      <ion-label position="stacked">Year</ion-label>
      <ion-input ngModel required name="year" inputmode="numeric" maxlength=4 minlength=4></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Make</ion-label>
      <ion-input ngModel required name="make"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Model</ion-label>
      <ion-input ngModel required name="model"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Key Name</ion-label>
      <ion-input ngModel required name="keyname"></ion-input>
    </ion-item>
    
    <ion-button type="submit" expand="block">Save Bike</ion-button>
  </form>
</ion-content>
