<!--
    Copyright 2018,2019 Austin Haigh

    This file is part of MCIGN.

    MCIGN is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    MCIGN is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with MCIGN.  If not, see <https://www.gnu.org/licenses/>.

-->


<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Bikes</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let b of this.ign.bikes">
            <ion-item color="{{b.color}}" (click)="ign.loadBike(b)" (press)="unregister(b)">
              <!--<ion-icon src="{{b.icon}}"></ion-icon>-->
              <ion-label>
                {{b.toString()}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-item *ngIf="ign.bikes.length === 0">
          No bikes configured
        </ion-item>
      </ion-content>
      <ion-footer>
        <ion-menu-toggle auto-hide="false">
          <ion-button (click)="scan()" expand="block">Add a new bike</ion-button>
        </ion-menu-toggle>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
