<!--
    Copyright 2018,2019 Austin Haigh

    This file is part of MCIGN.

    MCIGN is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    MCIGN is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with MCIGN.  If not, see <https://www.gnu.org/licenses/>.

-->


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MCIGN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/home_img.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Scan a keycode</ion-card-title>
      </ion-card-header>
      <ion-card-content>
		  <p>Please scan a keycode to register this phone with an ignition. Keycodes are distributed with ignitions as QR codes.</p>
		  <ion-button (click)="this.app.scan()" expand="block">Scan Keycode</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
